# root以下のあらゆるサブディレクトリ内でtempで始まる名前やファイルの除外
# ex. /somedir/temporary.txt, /somedir/tempを除外
*/temp*

# root配下の開発環境設定ファイルを除外
.vscode
.dockerignore
.env.dev
.gitignore
docker-compose.yml
README.md
# app配下の環境設定ファイル
app/.venv
app/.vscode
app/.gitignore
app/db.sqlite3
app/Dockerfile
app/entrypoint.sh
app/README.md
app/auth*
# app_old配下すべて
app_old/*

# rootから2階層以下のサブディレクトリ内で、 temp で始まる名前のファイルやディレクトリを除外
# ex. /somedir/subdir/temporary.txt を除外
*/*/temp*

# ルートディレクトリ内でtempと1文字が一致する名前のファイルやディレクトリを除外
# ex. /tempa,/tembを除外
temp?