{% extends 'record/record_base.html' %}

{% block content %}
<big><p><a href="{% url 'record:record_create' %}"><span class="glyphicon glyphicon-plus"></span>新規作成</a></p></big>
    <h1>記録の編集</h1>
    <div class="container my-3" style="max-width:700px;">
        <form method="POST" class="record-form"> 
        {% csrf_token %}
        {{ form.as_p }}
            {% if record %}
                <button class="form-control btn btn-primary" type="submit">編集結果を保存</button>
            {% else %}
                <button class="form-control btn btn-primary" type="submit">登録</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
