{% extends 'record/record_base.html' %}

{% block content %}
<big><p><a href="{% url 'record:record_create' %}"><span class="glyphicon glyphicon-plus"></span>新規作成</a></p></big>
<div class="record">
    <h3>＜標題＞「{{ record.title }}」</h3>
    <div>
        <a class="btn btn-default" href="{% url 'record:record_update' record.pk %}"><span class="glyphicon glyphicon-pencil"></span> この記録を編集</a>
        <a class="btn btn-default" href="{% url 'record:record_list' %}"><span class="glyphicon glyphicon-list-alt"></span> リスト表示に戻る</a>
        <a class="btn btn-default" href="{% url 'record:record_delete' record.pk %}"><span class="glyphicon glyphicon-remove-sign"></span> この記録を削除</a>    
    </div>
    <br>
    {% if record.published_date %}
    <div class="date">
        <p>＜日付＞
        {{ record.published_date }}</p>
    </div>
    {% endif %}
    <p>＜記事＞</p>
    <big><p>{{ record.text|linebreaksbr }}</p></big>

</div> 
{% endblock %}
