{% extends 'record/record_base.html' %}

{% block content %}
<div class="container">
    <br>
    <div>
        <big><p><a href="{% url 'record:record_create' %}"><span class="glyphicon glyphicon-plus"></span>新規作成</a></p></big>
    </div>
    <br>
    <div>
    {% for record in record_list %}
        <div class=".record">
            <div class="date">
                <p>更新日: {{ record.published_date }}</p>
                <h4><a href="{% url 'record:record_detail' record.pk %}">{{ record.title }}</a></h4>
            </div>
            <p>{{ record.text|linebreaksbr }}</p>
            <br>
        </div>
    {% endfor %}
    </div>
</div>    
{% endblock %}