{% extends 'record/record_base.html' %}

{% block content %}
    <h1>Webサーバー構築</h1>
    <div>
        <p>
            WebサイトやWebアプリケーションは、大きく分けて、フロントエンド
            とバックエンドという2つの仕組みによって動く。
            Webにおけるフロントエンドとバックエンドとはどのようなものなのか？
        </p>   
        <p>
            フロントエンドとは、WebサービスやWebアプリケーションで直接ユーザーの
            目に触れる部分のこと。WebサイトやWebアプリケーションなどでユーザーが
            文字を入力したり、ボタンをクリックしたりする部分や、バックエンドの
            ソフトウエアと直接やり取りをする部分のことを指す。クライアントサイド
            とも呼ばれ、Webブラウザ側でプログラムを実行している。
            フロントエンドの開発で利用する言語は主にHTMLやCSS、JavaScript、
            TypeScript。また、最近はReactやVue.js、Next.js、Nuxt.jsなど、
            JavaScriptのフレームワークやライブラリを利用しての開発も増えている。
        </p>
        <p>
            対して、バックエンドは、サーバーサイド（Webサーバー側）やデータベース
            のシステムなど、ユーザーの目に見えない部分のこと。ユーザーが入力した
            内容などのデータ処理やデータベースへの保存、検索結果の出力といったこと
            を実行する。ユーザーからは見えない後方の部分の処理を担っていることが、
            バックエンドと呼ばれている理由。
            バックエンドの開発で利用する言語には、JavaやJavaScript、PHP、Python、
            Rubyといったプログラミング言語があり、開発効率を高めるための
            各種フレームワークを利用して開発が行われる。
        </p>
    </div>
    <a href="{% url 'record_article' %}">前ページに戻る</a>
{% endblock %}