{% comment %} <footer class="bg-primary"> {% endcomment %}
<footer class="navbar-light" style="background-color: #1c83e2;">
    <div id="footer-logo">
      <a href="#">
          <i class="bi bi-card-heading footer-logo" style="font-size: 3rem;"></i>
      </a>
    </div>
    <div class="footer-content">
        <div>
            <a href="#">
                プライバシーポリシー(工事中)
           </a>
        </div>
        <div>|</div>
        <div>
            <a href="#">
                利用規約(工事中)
            </a>        
        </div>
        <div>|</div>
        <div>
            <small>Copyright &copy; 2023 株式会社フジコー</small>
        </div>
    </div>
  </footer>