<!-- <nav class="navbar navbar-dark bg-primary"></nav> -->
<nav class="navbar navbar-light" style="background-color: #1c83e2;">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="{% url 'main:main_index' %}"><small>Home</small>
        {% comment %} <img src="/media/pages/rmt_icon.png" style="width:50px;"/> {% endcomment %}
        <i class="bi bi-house-door" style="font-size: 1.5rem; color: white;"></i>
      </a>
      {% comment %} ナビ左上のトグルボタン {% endcomment %}
      {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> {% endcomment %}
        {% comment %} <span class="navbar-toggler-icon"></span> {% endcomment %}
      {% comment %} </button> {% endcomment %}
      
      {% comment %} <div class="collapse navbar-collapse" id="navbarSupportedContent"> {% endcomment %}
        {% comment %} <ul class="navbar-nav me-auto mb-2 mb-lg-0"> {% endcomment %}
          {% comment %} <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li> {% endcomment %}
          {% comment %} <li class="nav-item"><a class="nav-link" href="#">Link</a></li> {% endcomment %}
        {% comment %} </ul> {% endcomment %}
      {% comment %} </div> {% endcomment %}

    </div>
    {% comment %} 
    検索バーを指定 
    <div class="flex-grow-1" style="max-width:350px;">
      <form class="d-flex" method="GET">
        <input class="form-control me-2" type="search" placeholder="検索..." aria-label="Search" name="search">
        <button class="btn btn-outline-light" type="submit">search</button>
      </form>
    </div>
    {% endcomment %}
    {% comment %} ドロップダウンボタンを指定 {% endcomment %}
    <div class="text-light nav-item dropdown">
      {% load accounts_user %}
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ request.user|user_display}}
      </a>
      <ul class="dropdown-menu endposition" aria-labelledby="navbarDropdown">
        {% if request.user.is_authenticated %}

            <li><a class="dropdown-item" href="#">
              アカウント設定</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">
              ログアウト</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'record:record_list' %}">
              開発記録一覧</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'record:record_create' %}">
              開発記録作成</a></li>

        {% else %}

            <li><a class="dropdown-item" href="{% url 'account_login' %}">
              ログイン</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">
              サインアップ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'record:record_list' %}">
              開発記録一覧</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'record:record_create' %}">
              開発記録作成</a></li> -->
        {% endif %}
      </ul>
    </div>
  </div>
</nav>