{% extends 'main/main_base.html' %}

{% block content %}

<div class="container">
    <br>
    <h4>登録ユーザー: {{user.profile}}様(@{{ user.profile.belongs }})のページ</h4>
    <p>
        <span>{{user.last_login}} ログイン成功</span>
    </p>
    <br>
    <h4>■遠隔監視サイト</h4>
    <div>
        {%if location_list.first is None%}
            {%if 'fujico@kfjc.co.jp' in user.email%}
                <p>管理者でログイン：</p>
                <p><a class="btn btn-primary" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span>遠隔監視現場を登録</a></p>
            {%else%}
                <p><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-list"></span>まだ設定が登録されていません、連絡をお待ちください。</a></p>
                <p>登録ユーザーでログイン: (user.pkで次頁に遷移)</p>
            {%endif%}
        {%else%}
            {% for location in location_list %}
                <p></p>
                <p><a class="form-control btn btn-info" href="{% url 'main:detail' location.pk %}">{{ location.name }} (Location.pk: {{ location.pk }})</a></p>
                <p>【Memo】{{ location.memo }}</p>
            {% endfor %}
                <br>                
                {%if 'fujico@kfjc.co.jp' in user.email %}
                    <a class="btn btn-primary" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span>現場設定を追加</a></p>
                    <p>※管理者権限で全リストを表示</P>
                {%endif%}
                <p><a class="btn btn-warning" href="{% url 'main:sensors_all_list' %}"><span class="glyphicon glyphicon-list"></span>センサーを設定</a></p>
    
        {%endif%}
    </div><br>
    {% if 'fujico@kfjc.co.jp' not in user.email %}
    <div>
    <p>・ユーザー登録情報を確認・編集する</p>
    <p>
    <a class="btn btn-warning" href="{% url 'main:regist_user' %}"><span class="glyphicon glyphicon-list"></span>確認ページへ</a>
    </p>
    </div>
    <!-- ここにユーザー情報の編集画面をいれたいが、 -->
    {% else %}
    <br>
    <div>
        <h4>■サイト管理者向け</h4>
        <h6>
            <p>・登録ユーザー確認
                <a class="btn btn-warning" href="{% url 'main:regist_user' %}"><span class="glyphicon glyphicon-list"></span>確認する</a>
            </p>
            <p>・遠隔監視現場の登録/編集
                <a class="btn btn-warning" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span>登録/編集する</a>
            </p>
            <p>・デバイス(センサー)の登録/編集
                <a class="btn btn-warning" href="{% url 'main:sensors_all_list' %}"><span class="glyphicon glyphicon-list"></span>登録/編集する</a>
            </p>
        </h6>
    </div>
    <br>
    <div>
        <h4>■システム管理者向け</h4>
        <h5>
        <p>・高度な設定
        <a class="btn btn-default" href="/admin/"><span class= "glyphicon glyphicon-list"></span> → Django管理サイトへ</a>
        </p>
        <p>・システムドキュメント
        <a class="btn btn-secondary" href="{% url 'devolution:index'%}"><span class="glyphicon glyphicon-book"></span> → システム設計書</a>
        </p>
        <p>・システム開発/メンテナンス記録確認
        <a class="btn btn-secondary" href="{% url 'record:record_list' %}"><span class="glyphicon glyphicon-book"></span> → 開発・メンテナンス記録を確認</a>

        <p>・システム開発/メンテナンス記録
        <a class="btn btn-secondary" href="{% url 'record:record_list' %}"><span class="glyphicon glyphicon-book"></span> → 記録を更新</a>
        </p>
        </h5><br>
        <h5>
        <p>・HTTPリクエストによる表示データの更新およびグラフ描画機能を確認する</p>
        <a class="btn btn-default" href="{% url 'main:upload' %}"><span class="glyphicon glyphicon-pencil"></span>データファイルをアップロード</a>    
        </h5>
        
    </div>
    {% endif%}
</div>
<br>
{% endblock %}>

