{% extends 'main/main_base.html' %}

{% block content %}

<div class="container">
    <br>
    <h4>登録ユーザー: {{user.profile}}様のページ</h4>
    <p>
        <span>{{user.last_login}} ログイン成功</span>
    </p>
    <br>
    <h4>■遠隔監視サイトを表示</h4>
    <div>
        {% for location in location_list %}
        <h3>
            <a class="form-control btn btn-info" href="{% url 'main:detail' location.pk %}">{{ location.name }}</a>
        </h3>
        <p>【Memo】{{ location.memo }}</p>
        {% endfor %}    
    </div>

    {% if 'fujico@kfjc.co.jp' not in user.email %}
    <div>
        <h6>
            <p>・登録ユーザーを
                <a class="btn btn-warning" href="{% url 'main:regist_user' %}"><span class="glyphicon glyphicon-list"></span>確認する</a>
            </p>
    </div>
    <!-- ここにユーザー情報の編集画面をいれたいのですが、、 -->
    {% else %}
    <br>
    <div>
        <h4>■サイト管理者向け</h4>
        <h6>
            <p>・登録ユーザー確認
                <a class="btn btn-warning" href="{% url 'main:regist_user' %}"><span class="glyphicon glyphicon-list"></span>確認する</a>
            </p>
            <p>・遠隔監視現場の登録/編集
                <a class="btn btn-warning" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span>登録/編集する</a>
            </p>
            <p>・デバイス(センサー)の登録/編集
                <a class="btn btn-warning" href="{% url 'main:sensors_all' %}"><span class="glyphicon glyphicon-list"></span>登録/編集する</a>
            </p>
            
        </h6>
    </div>
    <br>
    <div>
        <h4>■システム管理者向け</h4>
        <h5>
        <p>・Django管理ページから各種設定を行う。
        <a class="btn btn-default" href="/admin/"><span class= "glyphicon glyphicon-list"></span> → Django管理サイトへ</a>
        </p>
        <p>・システムドキュメントを開く。
        <a class="btn btn-secondary" href="{% url 'devolution:index'%}"><span class="glyphicon glyphicon-book"></span> → システム設計書</a>
        </p>
        <p>・システム開発/メンテナンス記録を確認する。
        <a class="btn btn-secondary" href="{% url 'record:record_list' %}"><span class="glyphicon glyphicon-book"></span> → 開発・メンテナンス記録を確認</a>

        <p>・システム開発/メンテナンスの記録を残す。
        <a class="btn btn-secondary" href="{% url 'record:record_list' %}"><span class="glyphicon glyphicon-book"></span> → 記録を更新</a>
        </p>
        </h5><br>
        <h5>
        <p>・HTTPリクエストによる表示データの更新およびグラフ描画機能を確認する</p>
        <a class="btn btn-default" href="{% url 'main:upload' %}"><span class="glyphicon glyphicon-pencil"></span>データファイルをアップロード</a>    
        </h5>
        
    </div>
    {% endif%}
</div>
<br>
{% endblock %}>

