{% extends 'main/main_base.html' %}

{% block content %}

<div class="container">
    <div class="card mx-auto my-3 w-150" style="min-width:300px;">
        <div class="card-header">
            <p>更新日:{{ location.updated_date }}</p>
        </div>
        <div class="card-body">
            <!-- 2023.10.23 queryセットの確認 -->
            <h3 class="card-title">
                {{ location.name }} 様 <small>(location.pk {{ location.pk }})</small>
                {{ self.request.user }}
            </h3>
            <p class="card-text"><small>【メモ】</small> {{ location.memo }}</p>
            <p>ここに所有するセンサーデバイス一覧を掲載したい</p>
            <!--<p class="card-text">
                センサーデバイス：({{login_user}})
                {%for sensor in sensor_list%}
                {{ sensor }}
                {%endfor%}
            </p>-->
            <div class="mt-3 d-flex justify-content-end">
                <a href="#" class="btn btn-default btn-sm">管理者以外更新/削除できません</a>
            </div>
        </div>

        <div class="card-footer">
            <a href="{% url 'main:location_list' location.pk %}" class="btn btn-primary btn-sm">リスト表示に戻る</a>
        </div>
    </div>
</div>
<br>
{% endblock %}