{% extends 'main/main_base.html' %}

{% block title %}遠隔監視対象サイト一覧{% endblock %}

{% block content %}

<div class="container">
    <br>
    <div>
        <h3>遠隔監視対象サイト一覧(登録順)</h3>
    </div>
    <table class="table caption-top table-bordered border-dark">
        <caption>現場一覧</caption>
          <thead class="table-primary table-bordered border-dark">
              <tr>
                  <th scope="col">現場</th>
                  <th scope="col">メモ</th>
                  <th scope="col">更新日</th>
                  <th scope="col">登録日</th>
                  <th scope="col">編集</th>
              </tr>
          </thead>
          <tbody>
          {% for location in location_list %}
            <tr class="table-warning table-bordered border-dark">
              <td colspan="1"><a href="{% url 'main:location_detail' location.pk %}">{{ location.name}}</a></td>
              <td colspan="1">{{ location.memo }}</td>
              <td colspan="1">{{ location.updated_date }}</td>
              <td colspan="1">{{ location.created_date }}</td>
              <td>
                <a href="{% url 'main:location_update' location.pk %}" class="btn btn-primary btn-sm">更新する</a>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{location.pk}}">削除する</button>
                {% include 'main/location_delete.html' %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div>
            <a class="form-control btn btn-primary" href="{% url 'main:location_create' %}"><span class="glyphicon glyphicon-log-in"></span> サイトを追加する</a>
        </div>
        <br>
</div>
{% endblock %}