{% extends 'main/main_base.html' %}

{% block content %}
<div class="container">
    <br>
    <h2>登録ユーザー情報</h2>
    <table class="table caption-top table-bordered borderless">
        <caption>ログインユーザー：{{ request.user }}</caption>
        <thead class="table-primary table-bordered border-dark">
            <tr align="center">
                <!--<th scope="col">ユーザー名(email)</th>-->
                <th scope="col">ユーザー名(任意)</th>
                <th scope="col">会社名</th>
                <th scope="col">E-Mail</th>
                <th scope="col">緊急連絡先(任意)</th>
                <th scope="col">最新のログイン</th>
                <!--<th scope="col">ログエントリー</th>-->
                <th scope="col">active</th>
                {% if request.user.admin %}
                <th scope="col">staff</th>
                <th scope="col">admin</th>
                {% endif %}
                <th>編集</th>
            </tr>
        </thead>
        <tbody class="table-warning table-bordered border-dark">
            {% for user in user_list %}
            <tr>
                <!--<td colspan="1">{{ user }}</td>-->
                <td colspan="1">{{ user.profile }}</td>
                <td colspan="1">{{ user.profile.belongs }}</td>
                <td colspan="1">{{ user }}</td>
                <td colspan="1">{{ user.profile.tel_number }}</td>
                <td colspan="1">{{ user.last_login }}</td>
                <!--<td colspan="1">{{ user.logentry }}</td>-->
                <td colspan="1" align="center">{{ user.active }}</td>
                {% if request.user.admin %}
                <td colspan="1" align="center">{{ user.staff }}</td>
                <td colspan="1" align="center">{{ user.admin }}</td>
                {% endif %}
                <td>
                    <a href="{% url 'main:profile-update' user.pk %}" class="btn btn-primary btn-sm">情報修正</a>

                    {% if request.user.admin or request.user == user%}
                    <!--2023.9.27　登録ユーザー情報からuser.pkを取得してprofile編集画面に飛ぶ-->
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-bordered borderless">
            <small><p>
                <p>凡例：</p>
                <p>active: 有効な登録ユーザー</p>
                {% if request.user.admin %}
                    <p>staff: 検討中</p>
                    <p>admin: システム管理権限</p>
                {%endif%}
            </P></small>
        </tfoot>
    </table>
    <small><p>
        <a>凡例：</a>
        <a>active: 有効な登録ユーザー, </a>
        {% if request.user.admin %}
        <a>staff: 検討中, </a>
        <a>admin: システム管理権限</a>
        {%endif%}
    </P></small><br>
{% endblock %}