<h5>遠隔監視システム(初版リリース)で搭載した機能</h5>
<h6>〇ユーザー認証機能</h6>
<p>☑ユーザーメールアドレスによりアクセス認証を行う。</p>
<h6>〇各ユーザーごとに現場に設置したセンサーデバイスの測定データを数値およびグラフで表示</h6>
<p>
    ☑測定データは1分毎に更新され、最新の測定数値が表示される。<br>
    ☑グラフは直近の6時間分のデータ推移を表示する。<br>
    拡張予定機能<br>
    □各センサーデータについて、規定時間内の最大値、平均値を数値表示する。<br>
    □各センサーデータをCSVファイルにまとめてローカルPCにダウンロードする。<br>
</p>
<h6>〇管理者ページ搭載</h6>
<p>
    ☑全測定サイトのセンサーデバイスのデータを確認することができる
    ☑測定現場情報の追加、編集が可能<br>
    ☑各測定現場で設置するセンサーデバイス情報の追加、編集が可能<br>
</p><br>
<h5>本システムのハードウェア構成と機能</h5>
<h6>①データロガー: 現場のセンサーデータを取得。</h6>
<p>
    日置電機株式会社製LR8450を採用、LR8450をUSBケーブルで②のゲートウェイ(PC)と接続。<br>
    測定データはPCからWebサーバーにアップされる。<br>
</p>
<h6>②ゲートウェイPC: データロガーに集めたセンサーデータをサーバー側に送る。</h6>
<p>
    WindowsPCまたはRaspberryPiを使用。FutureNet社のMA-E350使用の可能性あり。<br>
    測定データのサーバーへのアップは、ftpsまたはHTTPリクエストによって行う。
</p>
<h6>③WEBアプリサーバー: 集めたセンサーデータを表形式で数値表示、およびグラフ描画することで可視化する。</h6>
<p>
    Webアプリサーバーは、外部レンタルサーバー、またはクラウドサーバーを使用する。<br>
</p>
<h6>④データベースサーバー: 集めたセンサーデータを記憶・保管する。</h6>
<P>
    物理的にはWebサーバーと同じサーバーを使用する。
    センサーデバイスから収集したデータを記憶・保管する。Webアプリのクエリーに応じて必要なデータを出力する。<br>
    また、測定データをまとめて、CSVファイル形式などでローカルPC上にダウンロードすることができる。
</p>
<p>
    <a><img src="/media/devolution/system.png" width="80%" height="80%" border="0" /></a>
</p><br>

