<h5>■Webアプリ開発準備</h5>
<h6>●HTML/CSS/Javascript学習</h6>
<p>
<a href="https://codeprep.jp/books/1" target="_blank" rel="noopener noreferrer">HTML入門 基本要素(タグ)編</a><br>
<a href="http://www.htmq.com/" target="_blank" rel="noopener noreferrer">HTMLクイックリファレンス</a><br>
<a href="https://codeprep.jp/books/2" target="_blank" rel="noopener noreferrer">CSS入門 基本スタイリング編</a><br>
<a href="https://codeprep.jp/books/3" target="_blank" rel="noopener noreferrer">JavaScript入門 基本操作編</a>    
</p>

<h5>■Webアプリ開発</h5>
<h6>●アプリケーション(Django)開発環境を構築</h6>
<p>
<a href="https://tutorial.djangogirls.org/ja/installation/" target="_blank" rel="noopener noreferrer">Django Girls のチュートリアル～インストール</a><br>
</p>
<h6>●開発用と本番用に環境を分離して、開発用にdjango-debug-tool-barを導入する</h6>
<p>
<a href="https://self-methods.com/django-settings-split/" target="_blank" rel="noopener noreferrer">【django】開発・本番環境用にsettings.pyを分割</a><br>
<a href="https://self-methods.com/django-debug-toolbar-setting/" target="_blank" rel="noopener noreferrer">【django-debug-toolbar】の使い方と設定方法</a>
</p>
<p>
<a href="https://qiita.com/kkkei257/items/b3292b443699ecfb148f" target="_blank" rel="noopener noreferrer">Django環境でHTMLからPythonコードを実行</a><br>
<a href="https://codor.co.jp/django/" target="_blank" rel="noopener noreferrer">Code for Django</a><br>
<a href="https://office54.net/python/django/views-request-post" target="_blank" rel="noopener noreferrer">【Django】views.py: request.POST/GETから値を取得する方法（get、getlist）</a><br>
</p>
<h6>●グラフを描く~Plotly</h6>
<p>
<a href="https://plotly.com/graphing-libraries/" target="_blank" rel="noopener noreferrer">Plotly Open Source Graphing Libraries</a><br>
→JAVA Scriptによる描画<br>
<a href="https://pyhaya.hatenablog.com/entry/2021/08/15/225829" target="_blank" rel="noopener noreferrer">【Django + Plotly.js】グラフをリアルタイム更新</a><br>
→Pythonによる描画<br>
<a href="https://classynode.com/2021/05/plotly_secondary_y/" target="_blank" rel="noopener noreferrer">【Python + Plotly】2軸の折れ線グラフを作る方法</a><br>
</p>
<h6>●ユーザー管理を行う</h6>
<p>
<a href="https://kosuke-space.com/django-login-required" target="_blank" rel="noopener noreferrer">【Django】ログインを必須にする</a><br>
</p>
<h6>●CSVファイルを扱う</h6>
<p>
<a href="https://intellectual-curiosity.tokyo/2018/12/18/django%E3%81%A7%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%82%92%E3%82%A2%E3%83%83%E3%83%97%E3%83%AD%E3%83%BC%E3%83%89%E3%81%99%E3%82%8B%E6%96%B9%E6%B3%95/" target="_blank" rel="noopener noreferrer">【Django】ファイルをアップロードする方法</a><br>
<a href="https://intellectual-curiosity.tokyo/2018/12/19/django%E3%81%A7csv%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%82%92%E3%82%A2%E3%83%83%E3%83%97%E3%83%AD%E3%83%BC%E3%83%89%E3%81%97%E3%81%A6db%E3%81%AB%E3%83%AC%E3%82%B3%E3%83%BC%E3%83%89%E3%82%92%E8%BF%BD/" target="_blank" rel="noopener noreferrer">【Django】アップロードしてDBにレコードを追加する方法</a><br>
</p>
<h6>●HttpreRuestに関する知識を得る</h6>
<p>
<a href="https://codezine.jp/article/detail/14493" target="_blank" rel="noopener noreferrer">【Django】HttpRequestオブジェクトを徹底解説</a><br>
</p>
<h6>●Ajax通信機能を扱う</h6>
<p>
<a href="https://www.sejuku.net/blog/25316" target="_blank" rel="noopener noreferrer">【JavaScript】reloadでページを更新する</a><br>
<a href="https://office54.net/python/django/django-ajax" target="_blank" rel="noopener noreferrer">【django】Ajaxによる非同期通信：動的にページ更新する方法</a><br>
<a href="https://intellectual-curiosity.tokyo/2018/11/02/django%E3%81%A7ajax%E3%81%AB%E3%82%88%E3%82%8B%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B4%E6%96%B0%E3%82%92%E8%A1%8C%E3%81%86%E6%96%B9%E6%B3%95/" target="_blank" rel="noopener noreferrer">【django】DjangoでAjaxによるデータ更新を行う方法</a><br>
</p>
<h6>●時間を管理する(未使用機能)</h6>
<p>
<a href="https://ssrv.net/tech/python-file-watchdog/">【Python】フォルダ内の変更を監視する Watchdog の使用例</a><br>
</p>
<h6>●トラブルシューティング</h6>
<p>
<a href="https://rurukblog.com/post/django-time-lags/" target="_blank" rel="noopener noreferrer">【Django】datetimeとDBから取得した時間がずれる</a><br>
== UTCとJSTの扱いをあなどるな! ==<br>
<a href="https://docs.python.org/ja/3/library/datetime.html?highlight=datetime%20strptime#datetime.datetime.strptime" target="_blank" rel="noopener noreferrer">【Python】datetime --- 基本的な日付型および時間型</a><br>
<a href="https://qiita.com/xza/items/9618e25a8cb08c44cdb0" target="_blank" rel="noopener noreferrer">【Python】日付、時刻の処理</a><br>
<a href="https://dateutil.readthedocs.io/en/stable/tzwin.html" target="_blank" rel="noopener noreferrer">【Python】dateutilthedoc</a>  
</p>
