<h5>はじめに</h5>
<p>本システムは、遠隔地に設置したセンサーデバイスのデータをWebサーバーにアップしWebアプリケーション(Webアプリ)によって可視化することで
    リモート監視活動を支援するものである。
    Webサーバーにアップされたデータは、データベースサーバーに記録・保管され、最大値や平均値など必要なデータを取り出し可視化することができる。<br>
    また、センサーデバイスの設置現場ごとにユーザー認証機能を搭載し、各ユーザー現場でもデータを確認・監視することができる。<br>
    このページで開発物の引継ぎを兼ねて、Webサイト、Webアプリの設計・構築についてまとめる。<br>
</p><br>
<h6>〇Webサイト、Webアプリ実現に必要な技術</h6>
<p>
    WebサイトやWebアプリは、大きく<big>フロントエンド</big>と<big>バックエンド</big>という2つの仕組みに分かれる。<br>
    <big>フロントエンド</big>は、<br>
    WebサービスやWebアプリなどで、直接ユーザーの目に触れる部分に相当しユーザーが文字を入力したり、
    ボタンをクリックしたりする部分や、<big>バックエンド</big>のソフトウエアと直接やり取りをする部分のことを指す。
    クライアントサイドとも呼ばれ、Webブラウザ側でプログラムを実行している。<br>
    <big>フロントエンド</big>の開発で利用する言語は、HTMLやCSS、JavaScript、TypeScriptなど、<br>
    <br>
    <big>バックエンド</big>は、<br>
    Webサーバー側やデータベースのシステムなど、ユーザーの目に見えない部分に相当し、ユーザーが入力した内容などの
    データ処理やデータベースへの保存、検索結果の出力などを実行する。
    <big>バックエンド</big>の開発で利用する言語には、JavaやJavaScript、PHP、Python、Rubyといったプログラミング言語があり、
    開発効率を高めるための各種フレームワークを利用して開発が行われる。<br><br>
    初回リリースでは、<big>バックエンド</big>をメインに設計を進めた。<br>
    今後機会があれば、<big>フロントエンド</big>に習熟したエンジニアを充てて、ユーザーインタフェース改善の視点からブラッシュアップが必要と考える。<br>
</p><br>
<h6>〇開発言語とフレームの選択</h6>
<p>
    Webアプリの開発は、フレームワークの 選定から始めた。<br>
    フレームワークとは、ソフトウェアアプリケーションを開発するためのプラットフォームで、
    コードを追加することで特定の機能を有するページを作り動作させることができるテンプレートで、図表描画のライブラリやログイン認証の機能など、各種リソースを利用しながら一つのパッケージにまとめることができるというもの。<br>
    フレームワークをベースにすれば、新規Webサイトの立ち上げやサービス開始後の新機能追加、置き換えなどが比較的容易にできそう。<br>
    どのフレームワークを選択するかは、下表の一般によく使用されている4つのバックエンド(※1)向けフレームワークから、後述の開発言語:Pythonで進められるDjango(※2)に決定。<br>

    <table class="table caption-top table-bordered borderless">
        <caption>表 Webアプリ開発フレームワーク</caption>
        <thead class="table-default table-bordered border-dark">
            <tr align="center">
                <th scope="col">バックエンド向けフレームワーク</th>
                <th scope="col">開発言語</th>
                <th scope="col">採用されている主なWebサイト</th>
            </tr>
        </thead>
        <tbody class="table-default table-bordered border-dark">
            <tr align="center">
                <td colspan="1">Express</td>
                <td colspan="1">Node.js、JavaScript</td>
                <td colspan="1">Netfix</td>
            </tr>
            <tr align="center">
                <td colspan="1">Django</td>
                <td colspan="1">Python</td>
                <td colspan="1">Google、Youtube、Instagram</td>
            </tr>
            <tr align="center">
                <td colspan="1">RaRails</td>
                <td colspan="1">Ruby</td>
                <td colspan="1">Shopify、Groupon、Zendesk</td>
            </tr>
            <tr align="center">
                <td colspan="1">Laravel</td>
                <td colspan="1">PHP</td>
                <td colspan="1">BBC、Ratio、TourRadar、Crowdcube</td>
            </tr>
        </tbody>
    </table>
</p>
<small>
    <font color=red>
        ※1: バックエンド向けフレームワークは、Webサーバーとデータベースサーバー機能を制御する。
        データの可視化、可視化するデータの抽出、ユーザー認証などを制御する。
        フロントエンド開発用にもフロントエンド向けフレームワークが存在するが、今回は一部Bootstrap機能を導入してナビゲーションバーをインポートした程度。<br>
    </font>
</small>
<small>
    <font color=red>
        ※2: 開発をはじめて、一年経過時にDjangoは非同期アクセスに弱いことが判明し、高い障壁となった。<br>
    </font>
</small><br>
<P>
    開発言語にPythonを選択した理由は、<br>
    ①インタープリター形式でコーディングと実行検証がほぼ同時にできるので時間効率が良い。<br>
    ②無償ライセンスで使用できるライブラリーが豊富で今回使用するフレームワーク:Djangoもその一つ。<br>
    ③サーバーのOSを選ばない。Windows、Linux/MacOS上で動作可能。<br>
    ④以上を総合して、Django+Pythonにより、低コストで短期間でWebアプリを構築できると判断した。<br>
</P>

