<h5>遠隔監視システムの構造</h5>
<h6>Webページとデータベース構成</h6>
<p>
    <a><img src="/media/devolution/application.png" width="80%" height="80%" border="0" /></a><br>
</p><br>
<p>
    Djangoアプリケーション ⇒
    <a  class="btn btn-secondary" href="https://github.com/hamasaki0011/djangopj1.git" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-book"></span> Djangoアプリ(with SQLite3)</a><br>
    Dockerコンテナー ⇒
    <a  class="btn btn-secondary" href="https://github.com/hamasaki0011/firstapp.git" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-book"></span> Dockerコンテナー(Djangoアプリ + SQLite3 + PostgreSQL + Gunicorn + Nginx)</a><br>
</P>
