<h5>概要…遠隔監視システムの機能</h5>
<p>
    遠隔地に設置したセンサーデバイスのデータをサーバーにアップし可視化することでリモート監視を実現する。<br>
    センサーデバイスの設置現場毎にユーザー認証機能を搭載し、各ユーザーでデータを確認・監視することができる。<br>
</p>
<br>
<h5>本システムのハードウェア構成と機能：</h5>
<h6>①データロガー: 現場のセンサーデータを取得。</h6>
<p>
    日置電気株式会社製LR8450を採用、LR8450をUSBケーブルで②ゲートウェイ(PC)と接続。<br>
    測定データはPCからWebサーバーにアップされる。<br>
</p>
<h6>②ゲートウェイPC: データロガーに集めたセンサーデータをサーバー側に上げる。</h6>
<p>
    WindowsPCを使用し、測定データのサーバーへのアップはHTTPリクエストによって行う。
</p>
<h6>③WEBアプリサーバー: 集めたセンサーデータを表形式で表示、およびグラフ描画することで可視化する。</h6>
<p>
    Webアプリサーバーは、外部レンタルサーバー、またはクラウドサーバーを使用する。<br>
</p>
<h6>④データベースサーバー: 集めたセンサーデータを記憶・保管する。</h6>
<P>
    測定データをまとめて、CSVファイル形式などでPC上にダウンロードすることができる。
</p>
