<h5>実験検証用のサーバー構築について</h5>
<p>
    実験検証目的でフジコーの社内ネットワーク上に構築したサーバーの仕様
    WEBアプリサーバーをLinux(Ubuntu 20.04.01LTS)OSで構成。<br>
    Linux OSを選択した理由は、<br>
    ・無料で長期サポートのオープンソースOSのため、余計な費用をかけずに低コストで実現できる<br>
    ・開発言語:Pythonが標準でインストールされている。<br>
    数種あるLinux OSの中でUbuntuを選択した理由は、<br>
    ・Windows10(version 22H2)のマルチOS機能でサポートされているので、WindowsPC上に開発したプログラムをサーバーへのアップ環境が容易。<br>
</P>
<h6>構築したLinuxサーバーの基本構成</h6>
<p>
    ・Ubuntu 22.04.1 LTS: Linux サーバーOS (サポート期間 ~April/2027)<br>
    ・OpenSSH_8.9p1 Ubuntu-3, OpenSSL 3.0.2 15 Mar 2022: SSHサーバー機能<br>
    ・Apache2 2.4.52: Webサーバー機能<br>
    ・ProFTPD2 1.3.7c: FTPサーバー機能<br>
</p><br>
<h6>Linuxサーバー構築に関する参考記事</h6>
<a href="https://www.ubuntulinux.jp/home" target="_blank" rel="noopener noreferrer">ubuntu Japanese Team</a><br>
<a href="https://shell-mag.com/portal-linuxserver/" target="_blank" rel="noopener noreferrer">UbuntuではじめるLinuxサーバー</a><br>
<a href="https://www.fenet.jp/infla/column/server/linux%E3%81%A7%E3%81%AE%E3%82%B5%E3%83%BC%E3%83%90%E3%83%BC%E6%A7%8B%E7%AF%89%E3%81%A8%E3%81%AF%EF%BC%9F%E3%81%8A%E3%81%99%E3%81%99%E3%82%81%E3%81%AE%E3%83%87%E3%82%A3%E3%82%B9%E3%83%88%E3%83%AA" target="_blank" rel="noopener noreferrer">Linuxでのサーバー構築とは？おすすめのディストリビューション11選</a>    

<p>webアプリは、センサーデータの可視化とデータベースへの登録を行う</p>
