{% comment %} JAVAscriptの外部ソース {% endcomment %}
{% comment %} <script type="text/javascript" src="{% static 'script.js' %}"></script> {% endcomment %}

{% comment %} </body>の直前に挿入Optional JavaScript {% endcomment %}
{% comment %} jQuery first, the next Popper.js and then Bootstrap JS {% endcomment %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% comment %} jQueryのスクリプト {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
